body{
  background-image: url("../../images/backgroound.jpg");
  /* /Users/serenabrown/Desktop/project2/images/background.jpg */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.jumbotron{
  margin: 190px;
} 

h1{
color: orange;
}
h2{
  color: orange;

}
